.Bin_Large,
.Bin_Medium,
.Blender,
.Bread_Maker,
.Broom,
.Bunk_Bed,
.Chest_Freezer,
.Crock_Pot,
.Cubby_Large,
.Cubby_Medium,
.Cubby_Small,
.Desk_With_Hutch,
.Dumbbells_Large,
.Dumbbells_Medium,
.Dumbbells_Small,
.Elliptical,
.Exercise_Bike,
.Folding_Cots,
.Foyer_Table,
.Glass_Cabinet,
.Glass_Front_Bookcase_Large,
.Glass_Front_Bookcase_Medium,
.Glass_Front_Bookcase_Small,
.Grandfather_Clock,
.Laminating-Machine,
.Metal_Locker,
.Mop,
.Nightstand,
.Office_Desk_Glass,
.Small_Desk_Glass,
.Sofa_Large_Sectional,
.Surfboard,
.Trash_Bag_Large,
.Trash_Bag_Small,
.Tri_Head_Lamp,
.TV_Dinner_Table,
.Wardrobe_Closet_Mirrors,
.Washer_Dryer_Combo {
	background-image: url("../img/large-2.png") !important;
}
.Air_Conditioner_Large {
	background-position-y: -110px;
}
.Air_Conditioner_small { background: url("../img/spritesheet-small.png");
	background-position-y: -14630px;
}
.Air_Purifier {
	background-position-y: -220px;
}
.Amplifier {
	background-position-y: -330px;
}
.Arm_Chair {
	background-position-y: -440px;
}
.Baby_Grand_Piano {
	background-position-y: -550px;
}
.Bag {
	background-position-y: -660px;
}
.Bag_Duffle {
	background-position-y: -770px;
}
.Bakers_Rack {
	background-position-y: -880px;
}
.Bankers_box {
	background-position-y: -990px;
}
.Bar_Stool {
	background-position-y: -1100px;
}
.Basket {
	background-position-y: -1210px;
}
.Bassinet {
	background-position-y: -1320px;
}
.Bathroom_Cabinet {
	background-position-y: -1430px;
}
.Bean_Bag_Chair {
	background-position-y: -1540px;
}
.Bed {
	background-position-y: -1650px;
}
.Bench {
	background-position-y: -1760px;
}
.Bicycle {
	background-position-y: -1870px;
}
.Bike_rack {
	background-position-y: -1980px;
}
.Book_Box {
	background-position-y: -2090px;
}
.Book_Box_Micro {
	background-position-y: -2200px;
}
.Box_Matress {
	background-position-y: -2310px;
}
.Buffet {
	background-position-y: -2420px;
}
.Butchers_Block {
	background-position-y: -2530px;
}
.CD_Rack {
	background-position-y: -2640px;
}
.California_King {
	background-position-y: -2750px;
}
.California_King_Mattress {
	background-position-y: -2860px;
}
.Captains_Bed {
	background-position-y: -2970px;
}
.Car_Seat {
	background-position-y: -3080px;
}
.Card_Table {
	background-position-y: -3190px;
}
.Cat_Litter_Box {
	background-position-y: -3300px;
}
.Cat_Tree_Large {
	background-position-y: -3410px;
}
.Cat_Tree_Medium {
	background-position-y: -3520px;
}
.Cat_Tree_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3630px;
}
.Chaise_Lounge {
	background-position-y: -3740px;
}
.Chandelier {
	background-position-y: -3850px;
}
.Changing_Table {
	background-position-y: -3960px;
}
.Childrens_Bed {
	background-position-y: -4070px;
}
.Childrens_Bicycle {
	background-position-y: -4180px;
}
.Childrens_Chair {
	background-position-y: -4290px;
}
.Childrens_Table {
	background-position-y: -4400px;
}
.China_Box {
	background-position-y: -4510px;
}
.China_Box_Micro {
	background-position-y: -4620px;
}
.Clarinet {
	background-position-y: -4730px;
}
.Clothes_Rack {
	background-position-y: -4840px;
}
.Clothes_Steamer {
	background-position-y: -4950px;
}
.Club_Chair {
	background-position-y: -5060px;
}
.Coat_Rack {
	background-position-y: -5170px;
}
.Coffee_maker {
	background-position-y: -5280px;
}
.Collapsable_Metal_bed {
	background-position-y: -5390px;
}
.Commercial_Bin {
	background-position-y: -5500px;
}
.Computer {
	background-position-y: -5610px;
}
.Computer_Desk {
	background-position-y: -5720px;
}
.Computer_with_Monitor {
	background-position-y: -29260px;
	height: 139px;
}
.Conference_Chair {
	background-position-y: -5940px;
}
.Conference_Table {
	background-position-y: -6050px;
}
.Console {
	background-position-y: -6160px;
}
.Console_Piano {
	background-position-y: -6270px;
}
.Crib {
	background-position-y: -6380px;
}
.Daybed {
	background-position-y: -6490px;
}
.Dining_Chair {
	background-position-y: -6600px;
}
.Dining_Seat {
	background-position-y: -6710px;
}
.Dining_Table {
	background-position-y: -6820px;
}
.Dishwasher {
	background-position-y: -6930px;
}
.Dollhouse {
	background-position-y: -7040px;
}
.Drafting_Table {
	background-position-y: -7150px;
}
.Drawer_Lateral_2 {
	background-position-y: -7260px;
}
.Drawer_Lateral_4 {
	background-position-y: -7370px;
}
.Drawer_Vertical_2 {
	background-position-y: -7480px;
}
.Drawer_Vertical_4 {
	background-position-y: -7590px;
}
.Drawer_Vertical_Deep_2 {
	background-position-y: -7700px;
}
.Drawer_Vertical_Deep_4 {
	background-position-y: -7810px;
}
.Drums {
	background-position-y: -7920px;
}
.Dryer {
	background-position-y: -8030px;
}
.Easel_Large {
	background-position-y: -8140px;
}
.Easel_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8250px;
}
.End_Table {
	background-position-y: -8360px;
}
.Entertainment_Center {
	background-position-y: -8470px;
}
.Executive_Chair {
	background-position-y: -8580px;
}
.Fan {
	background-position-y: -8690px;
}
.Faux_Fireplace {
	background-position-y: -8800px;
}
.Fax_Machine {
	background-position-y: -8910px;
}
.Fireplace_Equipment {
	background-position-y: -9020px;
}
.Floor_Lamp {
	background-position-y: -9130px;
}
.Floor_Speakers {
	background-position-y: -9240px;
}
.Folding_Chair {
	background-position-y: -9350px;
}
.Folding_Screen {
	background-position-y: -9460px;
}
.Folding_Table {
	background-position-y: -9570px;
}
.Food_Processor {
	background-position-y: -9680px;
}
.Foosball_Table {
	background-position-y: -9790px;
}
.Footboard {
	background-position-y: -9900px;
}
.Footboard_1 {
	background-position-y: -10010px;
}
.Futon {
	background-position-y: -10120px;
}
.Garbage_Can {
	background-position-y: -10230px;
}
.Garbage_Pail {
	background-position-y: -10340px;
}
.Glider_Chair {
	background-position-y: -10450px;
}
.Golf_Bag {
	background-position-y: -10560px;
}
.Grand_Piano {
	background-position-y: -10670px;
}
.Guitar {
	background-position-y: -10780px;
}
.Gun_Safe {
	background-position-y: -10890px;
}
.Hamper {
	background-position-y: -11000px;
}
.Hat_Box {
	background-position-y: -11110px;
}
.Headboard {
	background-position-y: -11220px;
}
.Headboard_1 {
	background-position-y: -11330px;
}
.High_Chair {
	background-position-y: -11440px;
}
.Hoe {
	background-position-y: -11550px;
}
.Iron {
	background-position-y: -11660px;
}
.Ironing_Board {
	background-position-y: -11770px;
}
.Juicer {
	background-position-y: -11880px;
}
.King {
	background-position-y: -11990px;
}
.King_Mattress {
	background-position-y: -12100px;
}
.Kitchen_Chair {
	background-position-y: -12210px;
}
.Kitchen_Table {
	background-position-y: -12320px;
}
.Large_Armoire {
	background-position-y: -12430px;
}
.Large_Bookcase {
	background-position-y: -12540px;
}
.Large_China_Cabinet {
	background-position-y: -12650px;
}
.Large_Coffee_Table {
	background-position-y: -12760px;
}
.Large_Credenza {
	background-position-y: -12870px;
}
.Large_Dresser {
	background-position-y: -12980px;
}
.Large_Grill {
	background-position-y: -13090px;
}
.Large_Ladder {
	background-position-y: -13200px;
}
.Large_Linen_Box {
	background-position-y: -13310px;
}
.Large_Linen_Box_micro {
	background-position-y: -13420px;
}
.Large_Mirror {
	background-position-y: -13530px;
}
.Large_Ottoman {
	background-position-y: -13640px;
}
.Large_Plant {
	background-position-y: -13750px;
}
.Large_Printer {
	background-position-y: -13860px;
}
.Large_Refrigerator {
	background-position-y: -13970px;
}
.Large_Rug {
	background-position-y: -14080px;
}
.Large_Side_Table {
	background-position-y: -14190px;
}
.Large_TV_Stand {
	background-position-y: -14300px;
}
.Lawnmower {
	background-position-y: -14410px;
}
.Legal_File_Box {
	background-position-y: -14520px;
}
.Legal_File_Box_micro {
	background-position-y: 0;
}
.Letter_File_Box {
	background-position-y: -14740px;
}
.Letter_File_Box_micro {
	background-position-y: -14850px;
}
.Linen_Box {
	background-position-y: -14960px;
}
.Linen_Box_Micro {
	background-position-y: -15070px;
}
.Lingerie_Chest {
	background-position-y: -15180px;
}
.Love_Seat {
	background-position-y: -15290px;
}
.Magazine_Rack {
	background-position-y: -15400px;
}
.Mannequin {
	background-position-y: -15510px;
}
.Medium_Bookcase {
	background-position-y: -15620px;
}
.Medium_Dresser {
	background-position-y: -15730px;
}
.Medium_Ladder {
	background-position-y: -15840px;
}
.Medium_Ottoman {
	background-position-y: -15950px;
}
.Medium_Plant {
	background-position-y: -16060px;
}
.Medium_Refrigerator {
	background-position-y: -16170px;
}
.Medium_Rug {
	background-position-y: -16280px;
}
.Microwave {
	background-position-y: -16390px;
}
.Microwave_Cart {
	background-position-y: -16500px;
}
.Milk_Crate {
	background-position-y: -16610px;
}
.Mini_Refrigerator {
	background-position-y: -16720px;
}
.Monitor {
	background-position-y: -16830px;
}
.Murphy_Bed {
	background-position-y: -16940px;
}
.Nesting_Table {
	background-position-y: -17050px;
}
.Night_Table {
	background-position-y: -17160px;
}
.Office-Chair {
	background-position-y: -17270px;
}
.Office_with_Return {
	background-position-y: -17380px;
}
.Outdoor_Chair {
	background-position-y: -17490px;
}
.Outdoor_Dining_Table {
	background-position-y: -17600px;
}
.Outdoor_End_Table {
	background-position-y: -17710px;
}
.Outdoor_Lounge_Chair {
	background-position-y: -17820px;
}
.Outdoor_Sofa {
	background-position-y: -17930px;
}
.Oven {
	background-position-y: -18040px;
}
.Overstuffed_Chair {
	background-position-y: -18150px;
}
.Painting {
	background-position-y: -18260px;
}
.Papason_Chair {
	background-position-y: -18370px;
}
.Paper_Shredder {
	background-position-y: -18480px;
}
.Piano_Bench {
	background-position-y: -18590px;
}
.Picture_Crate {
	background-position-y: -18700px;
}
.Picture_with_Frame {
	background-position-y: -18810px;
}
.Pinball_Machine {
	background-position-y: -18920px;
}
.Ping_Pong_Table {
	background-position-y: -19030px;
}
.Plastic_Bin_Large {
	background-position-y: -19140px;
}
.Plastic_Bin_Medium {
	background-position-y: -19250px;
}
.Plastic_Bin_small { background: url("../img/spritesheet-small.png");
	background-position-y: -19360px;
}
.Play_Pen {
	background-position-y: -19470px;
}
.Play_Set {
	background-position-y: -19580px;
}
.Play_Set_2 {
	background-position-y: -19690px;
}
.Pool_Table {
	background-position-y: -19800px;
}
.Printer_Stand {
	background-position-y: -19910px;
}
.Queen {
	background-position-y: -20020px;
}
.Queen_Mattress {
	background-position-y: -20130px;
}
.Rake {
	background-position-y: -20240px;
}
.Recliner_Chair {
	background-position-y: -20350px;
}
.Rocking_Chair {
	background-position-y: -20460px;
}
.Runner_Rug {
	background-position-y: -20570px;
}
.Safe {
	background-position-y: -20680px;
}
.Saxophone {
	background-position-y: -20790px;
}
.Scanner {
	background-position-y: -20900px;
}
.Sculpture {
	background-position-y: -21010px;
}
.Seater_Sofa_3 {
	background-position-y: -21120px;
}
.Seater_Sofa_4 {
	background-position-y: -21230px;
}
.Sewing_Machine {
	background-position-y: -21340px;
}
.Sewing_Machine_Table {
	background-position-y: -21450px;
}
.Shelf_Speaker {
	background-position-y: -21560px;
}
.Shoe_Rack {
	background-position-y: -21670px;
}
.Shopping_Cart {
	background-position-y: -21780px;
}
.Shovel {
	background-position-y: -21890px;
}
.Ski {
	background-position-y: -22000px;
}
.Small_Armoire {
	background-position-y: -22110px;
}
.Small_Bookcase {
	background-position-y: -22220px;
}
.Small_China_Cabinet {
	background-position-y: -22330px;
}
.Small_Coffee_Table {
	background-position-y: -22440px;
}
.Small_Credenza {
	background-position-y: -22550px;
}
.Small_Desk {
	background-position-y: -22660px;
}
.Small_Drawer_Unit {
	background-position-y: -22770px;
}
.Small_Dresser {
	background-position-y: -22880px;
}
.Small_Grill {
	background-position-y: -22990px;
}
.Small_Ladder {
	background-position-y: -23100px;
}
.Small_Mirror {
	background-position-y: -23210px;
}
.Small_Ottoman {
	background-position-y: -23320px;
}
.Small_Plant {
	background-position-y: -23430px;
}
.Small_Printer {
	background-position-y: -23540px;
}
.Small_Refrigerator {
	background-position-y: -23650px;
}
.Small_Stool {
	background-position-y: -23760px;
}
.Small_TV_Stand {
	background-position-y: -23870px;
}
.Small_rug {
	background-position-y: -23980px;
}
.Snow_Blower {
	background-position-y: -24090px;
}
.Snowboard {
	background-position-y: -24200px;
}
.Sofa_Bed {
	background-position-y: -24310px;
}
.Space_Heater {
	background-position-y: -24420px;
}
.Spinet_Piano {
	background-position-y: -24530px;
}
.Standing_Fan {
	background-position-y: -24640px;
}
.Stereo_or_Video_Component {
	background-position-y: -24750px;
}
.Straight_Chair {
	background-position-y: -24860px;
}
.Stroller {
	background-position-y: -24970px;
}
.Suitcase {
	background-position-y: -25080px;
}
.TV_DLP_41-60 {
	background-position-y: -25190px;
}
.TV_DLP_UNDER_40 {
	background-position-y: -25300px;
}
.TV_FLAT_PANEL_33-45 {
	background-position-y: -25410px;
}
.TV_FLAT_PANEL_46-55 {
	background-position-y: -25520px;
}
.TV_FLAT_PANEL_UNDER_32 {
	background-position-y: -25630px;
}
.TV_TUBE_21-27 {
	background-position-y: -25740px;
}
.TV_TUBE_28-36 {
	background-position-y: -25850px;
}
.TV_TUBE_UNDER_20 {
	background-position-y: -25960px;
}
.Table_Lamp {
	background-position-y: -26070px;
}
.Toaster_Oven {
	background-position-y: -26180px;
}
.Tool_Box {
	background-position-y: -26290px;
}
.Tool_Chest {
	background-position-y: -26400px;
}
.Toy_Bin {
	background-position-y: -26510px;
}
.Toy_Car {
	background-position-y: -26620px;
}
.Treadmill {
	background-position-y: -26730px;
}
.Trombone {
	background-position-y: -26840px;
}
.Trumpet {
	background-position-y: -26950px;
}
.Trundle_Bed {
	background-position-y: -27060px;
}
.Trunk {
	background-position-y: -27170px;
}
.Twin {
	background-position-y: -27280px;
}
.Twin_Mattress {
	background-position-y: -27390px;
}
.Upright_Piano {
	background-position-y: -27500px;
}
.Utility_Table {
	background-position-y: -27610px;
}
.Vacuum_Cleaner {
	background-position-y: -27720px;
}
.Vanity {
	background-position-y: -27830px;
}
.Violin {
	background-position-y: -27940px;
}
.Wardrobe_Box {
	background-position-y: -28050px;
}
.Wardrobe_Box_micro {
	background-position-y: -28160px;
}
.Wardrobe_Closet {
	background-position-y: -28270px;
}
.Washing_Machine {
	background-position-y: -28380px;
}
.Water_Cooler {
	background-position-y: -28490px;
}
.Wine_Box_12Bottles {
	background-position-y: -28600px;
}
.Wine_Rack {
	background-position-y: -28710px;
}
.Wine_Refrigerator {
	background-position-y: -28820px;
}
.Wood_Bed_Frame {
	background-position-y: -28930px;
}
.Work_Table {
	background-position-y: -29040px;
}
.custom_diamond {
	background-position-y: -5830px;
}
.default_icon {
	background-position-y: -29150px;
}
.Elliptical {
	background-position-y: -3578px;
}
.Exercise_Bike {
	background-position-y: -3677px;
}
.Grandfather_Clock {
	background-position-y: -1793px;
}
.Mop {
	background-position-y: -1680px;
}
.Broom {
	background-position-y: -1576px;
}
.Nightstand {
	background-position-y: -1473px;
}
.Wardrobe_Closet_Mirrors {
	background-position-y: -3778px;
}
.Glass_Cabinet {
	background-position-y: -3879px;
}
.Small_Desk_Glass {
	background-position-y: -2827px;
}
.Office_Desk_Glass {
	background-position-y: -1250px;
}
.Desk_With_Hutch {
	background-position-y: -13px;
}
.Washer_Dryer_Combo {
	background-position-y: -112px;
}
.Sofa_Large_Sectional {
	background: url("../img/large-2.png");
	background-position-y: -202px;
}
.Blender {
	background-position-y: -312px;
}
.Bread_Maker {
	background-position-y: -418px;
}
.Chest_Freezer {
	background-position-y: -519px;
}
.TV_Dinner_Table {
	background-position-y: -625px;
}
.Tri_Head_Lamp {
	background-position-y: -736px;
}
.Folding_Cots {
	background-position-y: -846px;
}
.Crock_Pot {
	background-position-y: -938px;
}
.Bunk_Bed {
	background-position-y: -1047px;
}
.Foyer_Table {
	background-position-y: -1350px;
	background: url("../img/large-2.png");
}
.Metal_Locker {
	background-position-y: -3155px;
}
.Surfboard {
	background-position-y: -2410px;
}
.Cubby_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2518px;
}
.Cubby_Medium {
	background-position-y: -2627px;
}
.Cubby_Large {
	background-position-y: -2734px;
}
.Glass_Front_Bookcase_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2315px;
}
.Glass_Front_Bookcase_Medium {
	background-position-y: -2213px;
}
.Glass_Front_Bookcase_Large {
	background-position-y: -2111px;
}
.Bin_Medium {
	background-position-y: -2942px;
}
.Bin_Large {
	background-position-y: -3046px;
}
.Laminating-Machine {
	background-position-y: -1147px;
}
.Trash_Bag_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1996px;
}
.Trash_Bag_Large {
	background-position-y: -1897px;
}
.Dumbbells_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3253px;
}
.Dumbbells_Medium {
	background-position-y: -3360px;
}
.Dumbbells_Large {
	background-position-y: -3460px;
}
.Air_Conditioner_Large_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8197px;
}
.Air_Conditioner_Small_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3160px;
}
.Air_Purifier_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3320px;
}
.Amplifier_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7090px;
}
.Arm_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -80px;
}
.Baby_Grand_Piano_small { background: url("../img/spritesheet-small.png");
	background-position-y: -120px;
}
.Bag_Duffle_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7459px;
}
.Bag_small { background: url("../img/spritesheet-small.png");
	background-position-y: -160px;
}
.Bakers_Rack_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8525px;
}
.Bankers_box_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6762px;
}
.Bar_Stool_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6844px;
}
.Basket_small { background: url("../img/spritesheet-small.png");
	background-position-y: -200px;
}
.Bassinet_small { background: url("../img/spritesheet-small.png");
	background-position-y: -240px;
}
.Bathroom_Cabinet_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8033px;
}
.Bean_Bag_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -280px;
}
.Bed_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8320px;
}
.Bench_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8402px;
}
.Bicycle_small { background: url("../img/spritesheet-small.png");
	background-position-y: -320px;
}
.Bike_rack_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6680px;
}
.Book_Box_small { background: url("../img/spritesheet-small.png");
	width: 40px;
	height: 40px;
	background-position-y: -360px;
}
.Box_Matress_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6803px;
}
.Buffet_small { background: url("../img/spritesheet-small.png");
	background-position-y: -400px;
}
.Butchers_Block_small { background: url("../img/spritesheet-small.png");
	background-position-y: -440px;
}
.CD_Rack_small { background: url("../img/spritesheet-small.png");
	background-position-y: -480px;
}
.California_King_Mattress_small { background: url("../img/spritesheet-small.png");
	background-position-y: -520px;
}
.California_King_small { background: url("../img/spritesheet-small.png");
	background-position-y: -560px;
}
.Captains_Bed_small { background: url("../img/spritesheet-small.png");
	background-position-y: -600px;
}
.Car_Seat_small { background: url("../img/spritesheet-small.png");
	background-position-y: -640px;
}
.Card_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -680px;
}
.Cat_Litter_Box_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9099px;
}
.Cat_Tree_Large_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9140px;
}
.Cat_Tree_Medium_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9263px;
}
.Cat_Tree_Small_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9919px;
}
.Chaise_Lounge_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10329px;
}
.Chandelier_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10370px;
}
.Changing_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -720px;
}
.Childrens_Bed_small { background: url("../img/spritesheet-small.png");
	background-position-y: -760px;
}
.Childrens_Bicycle_small { background: url("../img/spritesheet-small.png");
	background-position-y: -800px;
}
.Childrens_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -840px;
}
.Childrens_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -880px;
}
.China_Box_small { background: url("../img/spritesheet-small.png");
	width: 40px;
	height: 40px;
	background-position-y: -920px;
}
.Clarinet_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7541px;
}
.Clothes_Rack_small { background: url("../img/spritesheet-small.png");
	background-position-y: -960px;
}
.Clothes_Steamer_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1000px;
}
.Club_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1040px;
}
.Coat_Rack_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8361px;
}
.Coffee_maker_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1080px;
}
.Collapsable_Metal_bed_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1120px;
}
.Commercial_Bin_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8566px;
}
.Computer_Desk_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8730px;
}
.Computer_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8894px;
}
.Computer_with_Monitor_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10452px;
	height: 49px;
}
.Conference_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9017px;
}
.Conference_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9058px;
}
.Console_Piano_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1160px;
}
.Console_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1200px;
}
.Crib_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9181px;
}
.Daybed_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1240px;
}
.Dining_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9509px;
}
.Dining_Seat_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9878px;
}
.Dining_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1280px;
}
.Dishwasher_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10206px;
}
.Dollhouse_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10288px;
}
.Drafting_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1320px;
}
.Drawer_Lateral_2_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1360px;
}
.Drawer_Lateral_4_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1400px;
}
.Drawer_Vertical_2_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1440px;
}
.Drawer_Vertical_4_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1480px;
}
.Drawer_Vertical_Deep_2_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1520px;
}
.Drawer_Vertical_Deep_4_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6885px;
}
.Drums_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7049px;
}
.Dryer_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1560px;
}
.Easel_Large_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7172px;
}
.Easel_Small_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7377px;
}
.End_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1600px;
}
.Entertainment_Center_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7500px;
}
.Executive_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1640px;
}
.Fan_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7705px;
}
.Faux_Fireplace_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1680px;
}
.Fax_Machine_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1720px;
}
.Fireplace_Equipment_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1760px;
}
.Floor_Lamp_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1800px;
}
.Floor_Speakers_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1840px;
}
.Folding_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1880px;
}
.Folding_Screen_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1920px;
}
.Folding_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -1960px;
}
.Food_Processor_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2000px;
}
.Foosball_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2040px;
}
.Footboard_1_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2080px;
}
.Footboard_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2120px;
}
.Futon_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2160px;
}
.Garbage_Can_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2200px;
}
.Garbage_Pail_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2240px;
}
.Glider_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2280px;
}
.Golf_Bag_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9345px;
}
.Grand_Piano_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2320px;
}
.Guitar_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9673px;
}
.Gun_Safe_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9755px;
}
.Hamper_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9796px;
}
.Hat_Box_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9837px;
}
.Headboard_1_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2360px;
}
.Headboard_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2400px;
}
.High_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9960px;
}
.Hoe_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10001px;
}
.Iron_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10083px;
}
.Ironing_Board_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10124px;
}
.Juicer_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2440px;
}
.King_Mattress_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2480px;
}
.King_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2520px;
}
.Kitchen_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2560px;
}
.Kitchen_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2600px;
}
.Large_Armoire_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6721px;
}
.Large_Bookcase_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2640px;
}
.Large_China_Cabinet_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2680px;
}
.Large_Coffee_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2720px;
}
.Large_Credenza_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2760px;
}
.Large_Dresser_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6926px;
}
.Large_Grill_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7008px;
}
.Large_Ladder_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2800px;
}
.Large_Linen_Box_small { background: url("../img/spritesheet-small.png");
	width: 40px;
	height: 40px;
	background-position-y: -2840px;
}
.Large_Mirror_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2880px;
}
.Large_Ottoman_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7213px;
}
.Large_Plant_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2920px;
}
.Large_Printer_small { background: url("../img/spritesheet-small.png");
	background-position-y: -2960px;
}
.Large_Refrigerator_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3000px;
}
.Large_Rug_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3040px;
}
.Large_Side_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3080px;
}
.Large_TV_Stand_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7869px;
}
.Lawnmower_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7910px;
}
.Legal_File_Box_small { background: url("../img/spritesheet-small.png");
	width: 40px;
	height: 40px;
	background-position-y: -3120px;
}
.Letter_File_Box_small { background: url("../img/spritesheet-small.png");
	width: 40px;
	height: 40px;
	background-position-y: -40px;
}
.Linen_Box_small { background: url("../img/spritesheet-small.png");
	width: 40px;
	height: 40px;
	background-position-y: -8238px;
}
.Lingerie_Chest_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3200px;
}
.Love_Seat_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3240px;
}
.Magazine_Rack_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3280px;
}
.Mannequin_small { background: url("../img/spritesheet-small.png");
	background-position-y: 0;
}
.Medium_Bookcase_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3360px;
}
.Medium_Dresser_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8648px;
}
.Medium_Ladder_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3400px;
}
.Medium_Ottoman_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8812px;
}
.Medium_Plant_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3440px;
}
.Medium_Refrigerator_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3480px;
}
.Medium_Rug_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3520px;
}
.Microwave_Cart_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3560px;
}
.Microwave_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3600px;
}
.Milk_Crate_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3640px;
}
.Mini_Refrigerator_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3680px;
}
.Monitor_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9222px;
}
.Murphy_Bed_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3720px;
}
.Nesting_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3760px;
}
.Night_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3800px;
}
.Office-Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9591px;
}
.Office_with_Return_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9632px;
}
.Outdoor_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3840px;
}
.Outdoor_Dining_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3880px;
}
.Outdoor_End_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3920px;
}
.Outdoor_Lounge_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -3960px;
}
.Outdoor_Sofa_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4000px;
}
.Oven_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4040px;
}
.Overstuffed_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4080px;
}
.Painting_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4120px;
}
.Papason_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4160px;
}
.Paper_Shredder_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4200px;
}
.Piano_Bench_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4240px;
}
.Picture_Crate_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4280px;
}
.Picture_with_Frame_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4320px;
}
.Pinball_Machine_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4360px;
}
.Ping_Pong_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4400px;
}
.Plastic_Bin_Large_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4440px;
}
.Plastic_Bin_Medium_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4480px;
}
.Plastic_Bin_Small_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4520px;
}
.Play_Pen_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4560px;
}
.Play_Set_2_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4600px;
}
.Play_Set_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4640px;
}
.Pool_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6967px;
}
.Printer_Stand_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4680px;
}
.Queen_Mattress_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4720px;
}
.Queen_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4760px;
}
.Rake_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7131px;
}
.Recliner_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4800px;
}
.Rocking_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4840px;
}
.Runner_Rug_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7254px;
}
.Safe_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7295px;
}
.Saxophone_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7336px;
}
.Scanner_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4880px;
}
.Sculpture_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7418px;
}
.Seater_Sofa_3_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4920px;
}
.Seater_Sofa_4_small { background: url("../img/spritesheet-small.png");
	background-position-y: -4960px;
}
.Sewing_Machine_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5000px;
}
.Sewing_Machine_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7582px;
}
.Shelf_Speaker_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7623px;
}
.Shoe_Rack_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7664px;
}
.Shopping_Cart_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5040px;
}
.Shovel_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7746px;
}
.Ski_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7787px;
}
.Small_Armoire_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7828px;
}
.Small_Bookcase_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5080px;
}
.Small_China_Cabinet_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5120px;
}
.Small_Coffee_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7951px;
}
.Small_Credenza_small { background: url("../img/spritesheet-small.png");
	background-position-y: -7992px;
}
.Small_Desk_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5160px;
}
.Small_Drawer_Unit_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8074px;
}
.Small_Dresser_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8115px;
}
.Small_Grill_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8156px;
}
.Small_Ladder_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5200px;
}
.Small_Mirror_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5240px;
}
.Small_Ottoman_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8279px;
}
.Small_Plant_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5280px;
}
.Small_Printer_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5320px;
}
.Small_Refrigerator_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5360px;
}
.Small_Stool_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8443px;
}
.Small_TV_Stand_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8484px;
}
.Small_rug_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5400px;
}
.Snow_Blower_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5440px;
}
.Snowboard_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8607px;
}
.Sofa_Bed_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5480px;
}
.Space_Heater_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8689px;
}
.Spinet_Piano_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5520px;
}
.Standing_Fan_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8771px;
}
.Stereo_or_Video_Component_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5560px;
}
.Straight_Chair_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8853px;
}
.Stroller_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5600px;
}
.Suitcase_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8935px;
}
.TV_DLP_41-60_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5640px;
}
.TV_DLP_UNDER_40_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5680px;
}
.TV_FLAT_PANEL_33-45_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5720px;
}
.TV_FLAT_PANEL_46-55_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5760px;
}
.TV_FLAT_PANEL_UNDER_32_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5800px;
}
.TV_TUBE_21-27_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5840px;
}
.TV_TUBE_28-36_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5880px;
}
.TV_TUBE_UNDER_20_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5920px;
}
.Table_Lamp_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9304px;
}
.Toaster_Oven_small { background: url("../img/spritesheet-small.png");
	background-position-y: -5960px;
}
.Tool_Box_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9386px;
}
.Tool_Chest_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9427px;
}
.Toy_Bin_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9468px;
}
.Toy_Car_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6000px;
}
.Treadmill_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9550px;
}
.Trombone_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6040px;
}
.Trumpet_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6080px;
}
.Trundle_Bed_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6120px;
}
.Trunk_small { background: url("../img/spritesheet-small.png");
	background-position-y: -9714px;
}
.Twin_Mattress_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6160px;
}
.Twin_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6200px;
}
.Upright_Piano_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6240px;
}
.Utility_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6280px;
}
.Vacuum_Cleaner_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6320px;
}
.Vanity_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6360px;
}
.Violin_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6400px;
}
.Wardrobe_Box_small { background: url("../img/spritesheet-small.png");
	width: 40px;
	height: 40px;
	background-position-y: -10042px;
}
.Wardrobe_Closet_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6440px;
}
.Washing_Machine_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6480px;
}
.Water_Cooler_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10165px;
}
.Wine_Box_12Bottles_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6520px;
}
.Wine_Rack_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10247px;
}
.Wine_Refrigerator_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6560px;
}
.Wood_Bed_Frame_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6600px;
}
.Work_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -6640px;
}
.custom_diamond_small { background: url("../img/spritesheet-small.png");
	background-position-y: -8976px;
}
.default_icon_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10411px;
}
.Elliptical_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11840px;
}
.Exercise_Bike_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11875px;
}
.Grandfather_Clock_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11177px;
	background-position-x: 0;
}
.Mop_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11138px;
}
.Broom_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11098px;
}
.Nightstand_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11060px;
}
.Wardrobe_Closet_Mirrors_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11917px;
}
.Glass_Cabinet_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11956px;
}
.Small_Desk_Glass_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10982px;
}
.Office_Desk_Glass_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11022px;
}
.Desk_With_Hutch_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10513px;
}
.Washer_Dryer_Combo_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10552px;
}
.Sofa_Large_Sectional_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10592px;
}
.Blender_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10630px;
}
.Bread_Maker_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10670px;
}
.Chest_Freezer_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10712px;
}
.TV_Dinner_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10747px;
}
.Tri_Head_Lamp_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10789px;
}
.Folding_Cots_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10823px;
}
.Crock_Pot_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10865px;
}
.Bunk_Bed_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10903px;
}
.Foyer_Table_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11568px;
}
.Metal_Locker_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11684px;
}
.Surfboard_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11411px;
}
.Cubby_Small_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11449px;
}
.Cubby_Medium_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11490px;
}
.Cubby_Large_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11528px;
}
.Glass_Front_Bookcase_Small_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11374px;
}
.Glass_Front_Bookcase_Medium_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11336px;
}
.Glass_Front_Bookcase_Large_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11295px;
}
.Bin_Medium_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11608px;
}
.Bin_Large_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11644px;
}
.Laminating-Machine_small { background: url("../img/spritesheet-small.png");
	background-position-y: -10943px;
}
.Trash_Bag_Small_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11262px;
}
.Trash_Bag_Large_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11218px;
}
.Dumbbells_Small_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11722px;
}
.Dumbbells_Medium_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11761px;
}
.Dumbbells_Large_small { background: url("../img/spritesheet-small.png");
	background-position-y: -11799px;
}
.box-linen {
	background-position: -5px -92px;
	height: 14px;
}
.box-medium {
	background-position: -5px -54px;
	height: 17px;
}
.box-large {
	background-position: -5px -36px;
	height: 18px;
}
.box-china {
	background-position: -5px -71px;
	height: 21px;
}
.box-wardrobe {
	background-position: -5px 0;
	height: 24px;
}
.box-letter {
	background-position: -5px -119px;
	height: 13px;
}
.box-legal {
	background-position: -5px -106px;
	height: 12px;
}
