@import url("fonts.css");
body {
	font-family: "Proxima Nova";
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
}
.header-wrap {
	background: #3477b5e6;
	position: relative;
}
.header-logo {
	padding: 1px 0 0 10px;
}

.nav-link {
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	line-height: 19px;
	font-weight: 600;
	padding: 31px 0;
	display: inline-block;
}
.nav-link:hover {
	border-bottom: 3px #14b5f0 solid;
}
.nav-list {
	display: flex;
}
.nav-item {
	margin-right: 20px;
}
.nav-item:nth-last-child(-n + 1) {
	margin-right: 0;
}
.nav-search {
	vertical-align: center;
}

.site-header {
	position: relative;
	width: 100%;
	z-index: 30;
}

.header-call {
	display: flex;
	align-items: center;
	padding-right: 20px;
}

.call-circle {
	background: #476ba7;
	position: relative;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 3px #14b5f0 solid;
}

.call-icon {
	position: relative;
	width: 16px;
	color: #ffffff;
	top: 14px;
	left: 14px;
}

.number-text {
	font-size: 24px;
	display: block;
	padding: 5px 0;
}

.number {
	font-size: 14px;
	font-weight: 600;
}

.call-number {
	margin-left: 10px;
}

.call-number,
.number-link {
	color: #ffffff;
	text-decoration: none;
	border-radius: 50%;
}
