.site-main {
	max-width: 1200px;
	margin: 0 auto;
	.page-title {
		font-size: 22px;
		margin: 40px 0;
	}
	.post {
		margin-bottom: 10px;
		padding: 20px 0;
		border-bottom: 2px dotted #808080;
	}
	.entry-header {
		margin-left: 40px;
	}
	.entry-content {
		margin-left: 40px;
	}
	.wp-block-code {
		white-space: pre-wrap;
	}
	figure {
		margin: 0;
	}
}
@media screen and (max-width: 760px) {
	.site-main .page-title {
		margin: 18px 0;
		text-align: center;
	}
	.site-main .post {
		padding: 0;
	}
	.site-main .entry-header {
		margin: 0;
	}
	.site-main .entry-content {
		margin-left: 0;
	}
	.site-main{
		overflow: hidden;
		padding: 0 10px;
	}
	.site-main img {
		width: 100%;
		height: auto;
	}
}
