.site-main {
	max-width: 1200px;
	margin: 0 auto;
	.page-title {
		font-size: 22px;
		margin: 40px 0;
	}
	.post {
		margin-bottom: 10px;
		padding: 20px 0;
		border-bottom: 2px dotted #808080;
	}
	.entry-header {
		margin-left: 40px;
	}
	.entry-content {
		margin-left: 40px;
	}
	.wp-block-code {
		white-space: pre-wrap;
	}
	figure {
		margin-left: 0;
	}
}
