@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

.body{
	font-family: "Quicksand", sans-serif;;
}

.calendar {
	&-wrap {
		color: #000000;
		padding: 10px;
		margin: 40px 0;
		max-width: 1100px;
		position: relative;
		&.wrap-small {
			position: absolute;
			z-index: 6;
			top: 0;
			left: 160px;
			border: 1px solid #bdbdbd;
			border-radius: 10px;
			background: #ffffff;
			&.modal-calendar{
				top: 0;
				right: 0;
				left:unset;
			}
		}
	}
	&-block {
		text-align: center;
		display: grid;
		grid-template-columns: repeat(7, minmax(50px, 120px));
		grid-gap: 1px;
		&-wraper{
			display: flex;
			align-items: flex-start;
		}
		&.block-small{
			grid-template-columns: repeat(7, minmax(30px, 30px));
		}
	}

	&-month{
		display: flex;
		justify-content: space-between;
		width: 215px;
		margin: 33px auto 30px;
		&.month-small{
			margin: 0;
		}
		&-prev,&-next{
			font-size:  22px;
			cursor: pointer;
			&:hover{
				color: #4CAF50;
			}
		}
		&-text{
			padding: 0 40px;
			&.text-small{
				padding: 0;
			}
		}
	}
	&-day {
		text-align: end;
		border: 1px solid #bdbdbd;
		border-radius: 10px;
		background: #f8f8f8;
		height: 100px;
		cursor: pointer;
		margin: 0.5px;
		&:hover {
			background: #fff7d8;
		}
		&.currentDay{
			background: #E8F5E9;
		}
		&.selected {
			background: #ffe8c5;
		}

		&-number {
			padding: 5px 10px 15px;
			font-size: 18px;
			font-weight: 600;
			position: relative;
			z-index: 5;
			&.day-number-small{
				font-size: 14px;
				padding: 0;
			}
		}
		&-block {
			padding: 18px 15px;
			display: flex;
			justify-content: space-between;
		}
		&.day-small{
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&-set{
		display: flex;
		align-items: center;
	}
	&-border {
		margin: 2px 0;
		border-bottom: 2px solid #808080;
	}
	&-week-day {
		padding: 10px 0;
	}
	&-rate{
		box-sizing: border-box;
		height: 28px;
		&-input{
			height: 100%;
		}
	}
	&-day {
		&-rate{
			top: 135px;
			right: 0;
			padding: 10px;
			margin: 0 10px;
			border: 2px solid #808080 ;
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 150px;
		}
		&-title{
			padding: 10px ;
			font-size: 18px;
		}
		&-button{
			margin-top: 10px;
		}


	}
	&-input{
		&-label{
			padding: 5px;
			margin: 10px 0 0 0;
		}
	}
}
.zero {
	background: #faa089;
}
.hide {
	display: none;
}

.another-month-day{
	height: 100px;
	margin: 0.5px;
	border:1px solid #e4e2e2;
	border-radius: 10px;
	color: #bdbdbd;
	&.another-small{
		height: 30px;
	}
}

.rate-button {
	padding: 5px;
	background: #e3e3e3;
	border: unset;
	cursor: pointer;
	font-size: 16px;
	border-radius: 3px;
}
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	font-size: 12px;
	background-color: #5a5a5a;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 6;
	bottom: 32px;
	left: 50%;
	margin-left: -60px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
.storage-month{
	display: flex;
	justify-content: space-between;
	width: 215px;
	margin: 0 auto 30px;
		margin: 0;
}
.storage-day{
	text-align: end;
	border: 1px solid #bdbdbd;
	border-radius: 10px;
	background: #f8f8f8;
	height: 100px;
	cursor: pointer;
	margin: 0.5px;
	&.day-small{
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&:hover {
		background: #fff7d8;
	}
	&.currentDay{
		background: #E8F5E9;
	}
	&.selected {
		background: #ffe8c5;
	}
}
.calendar-wrap.storage-wrap.wrap-small{
	top: -100px;
	right: -50px;
	left: unset;
}
.inactive{
	background: #b5b5b5;
	cursor: default;
	&:hover{
		background: #b5b5b5;
	}
}
@media screen and (max-width: 1075px) {
	.calendar-block-wraper{
		flex-direction: column;
	}
}
@media screen and (max-width: 920px) {
	.calendar-wrap.wrap-small {
		z-index: 6;
		left: 10px;
	}
}
@media screen and (max-width: 760px) {
	.calendar-wrap.storage-wrap.wrap-small {
		top: 50px;
		right: unset;
		left: unset;
	}
}
@media screen and (max-width: 650px)  {
	.calendar-day-block {
		padding: 5px;
		flex-direction: column;
		align-items: center;
	}
	.calendar-day-qty{
		margin-bottom: 10px;
	}
}